
/*Mockup background and device frame*/

.browser-screen {
  background: white;
  /*background-image: url("../images/ripple.jpg");*/
  background-size: cover;
  margin: 0px;
  height: 100vh;
}

.device {
  background-image: url(../images/iphone.png);
  margin: auto;
}

.device-screen {
  margin: auto;
  position: relative;
  background-image: url("../images/simple-wave.png");
  background-size: cover;
}

/*Mockup with phone frame for medium to large screens*/

@media (min-width: 600px) {

  .browser-screen {
    padding: 10px;
    /*display: flex;*/
    /*align-items: center;
    justify-content: center;*/
  }

  .device {
      height: 657px;
      width: 329px;
      padding-top: 20px;
      margin-top: 30px;
  }

  .device-screen {
      height: 503px;
      width: 285px;
      border: 1px solid lightgray;
      border-radius: 3px;
      margin-top: 56px;
      /*overflow: scroll;*/

  }

  .content {
    padding: 10px;
  }
}

/*Fullscreen mockup to view on phones*/

@media (max-width: 600px) {

  .browser-screen {
    background: white;
  }

  .device-screen {
    width: 100%;
    height: 100vh;
    margin-top: 0;
  }

  .content {
    padding: 10px;
  }

}


/*----------------------*/
/*UI Content*/

a {
    color: blue;
    text-decoration: none;
    font-size: 6px;
}

img {
  width: 100%;
  height: auto;
}

.top-bar {
  background: #ffffff;
  border-bottom: 2px solid #eeeeee;
  padding: 10px 15px 5px 15px;
}

.logo {
  width: 100px;
  height: 33px;
}

.lower-bar {
  background: #ffffff;
  border-top: 2px solid #eeeeee;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding: 7px 20px 3px 3px;
  /*What is happening here? with padding right?*/
}

h1 {
  margin-bottom: 40px;
  margin-top: 20px;
  color: #433C96;
  font-size: 28px;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

.main-cup {
  width: 50%;
  margin: auto;
  padding-top: 15px;
}

.nav-icon {
  max-width: 25px;
  margin: 5px;
}

.center-icon {
  /*padding-left: 20px;
  padding-right: 30px;
  display: inline;*/
}
