
/*Mockup background and device frame*/

.browser-screen {
  background: white;
  /*background-image: url("../images/ripple.jpg");*/
  background-size: cover;
  margin: 0px;
  height: 100vh;
}

.device {
  background-image: url(../images/iphone.png);
  margin: auto;
}

.device-screen {
  margin: auto;
  position: relative;
  background-image: url("../images/simple-wave.png");
  background-size: cover;
}

.purple {
  color: gray;
  background-color: #e3e3f2;
  background-image: none !important;
}

/*Mockup with phone frame for medium to large screens*/

@media (min-width: 600px) {

  .browser-screen {
    padding: 10px;
    /*display: flex;*/
    /*align-items: center;
    justify-content: center;*/
  }

  .device {
      height: 657px;
      width: 329px;
      padding-top: 20px;
      margin-top: 30px;
  }

  .device-screen {
      height: 503px;
      width: 285px;
      border: 1px solid lightgray;
      border-radius: 3px;
      margin-top: 56px;
      /*overflow: scroll;*/

  }

  .content {
    padding: 10px;
  }
}

/*Fullscreen mockup to view on phones*/

@media (max-width: 600px) {

  .browser-screen {
    background: white;
  }

  .device-screen {
    width: 100%;
    height: 100vh;
    margin-top: 0;
  }

  .content {
    padding: 10px;
  }

  h1 {
    font-size: 100px;
  }

}


/*----------------------*/
/*UI Content*/

a {
    color: blue;
    text-decoration: none;
    font-size: 6px;
}

img {
  width: 100%;
  height: auto;
  padding-bottom: 5px;
}

.top-bar {
  background: #ffffff;
  border-bottom: 2px solid #eeeeee;
  padding: 10px 15px 5px 0;
}

.logo {
  width: 100px;
  height: 33px;
}

.lower-bar {
  background: #ffffff;
  border-top: 2px solid #eeeeee;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

h1 {
  margin-bottom: 40px;
  margin-top: 20px;
  color: #433C96;
  font-size: 28px;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

.main-cup {
  width: 50%;
  max-width: 180px;
  margin: auto;
  padding-top: 15px;
}

.nav-icon {
  margin: 5px 5px -5px 5px;
}

a > p {
  font-size: 10px;
  color: #433c96;
  text-align: center;
}

.nav-icon > a > img {
  max-width: 20px;
  text-align: center;
  margin: 0 20px 0 20px;
}


/*Self Care page*/


button {
  display: block;
  border: none;
  border-radius: 5px;
  background-color: pink;
  padding: 5px 10px 5px 10px;
  width: 200px;
  height: 40px;
  box-shadow: none;
  margin: auto;
  margin-top: 8px;
}

.self-care-buttons {
  margin-top: 40px;
  margin-bottom: 10px;
}

/*Colors */

.medium-purple {
  color: #ffffff;
  background-color: #8f82cf;
}

.dark-purple {
  color: #ffffff;
  background-color: #433c96;
}

.turqoise {
  color: #ffffff;
  background-color: #4aa9bf;
}

.blue {
  color: #ffffff;
  background-color: #3067ba;
}

.alternative-button {
  color: #4aa9bf;
  background-color: white;
  border: 3px solid #4aa9bf;
  border-radius: 0px;
}

/*Connect page*/

h2, h3 {
  color: #433c96;
  font-size: 20px;
  text-align: center;
}

.description {
  font-size: 11px;
  text-align: justify;
}

.profile-pic {
  border: 5px solid white;
  border-radius: 100px;
  width: 150px;
  margin: auto;
}

/*Progress page*/

 .scroll {
   height: 430px;
   overflow: scroll;
 }

 .number-of-days {
   color: #8f82cf;
   font-size: 50px;
   background-color: white;
   border-radius: 50px;
   text-align: center;
   width: 100px;
   height: 100px;
   margin: auto;
   padding: 10px 20px 10px 20px;
 }

 hr {
   border: 1px solid white;
   color: white;
 }
