
/*Mockup background and device frame*/

.browser-screen {
  background: white;
  /*background-image: url("../images/ripple.jpg");*/
  background-size: cover;
  margin: 0px;
  height: 100vh;
}

.device {
  background-image: url(../images/iphone.png);
  margin: auto;
}

.device-screen {
  margin: auto;
  position: relative;
  background-image: url("../images/simple-wave.png");
  background-size: cover;
}

.purple {
  color: gray;
  background-color: #e3e3f2;
  background-image: none !important;
}

/*Mockup with phone frame for medium to large screens*/

@media (min-width: 600px) {

  .browser-screen {
    /*padding: 10px;*/
    /*display: flex;*/
    /*align-items: center;
    justify-content: center;*/
  }

  .device {
      height: 657px;
      width: 329px;
      padding-top: 20px;
      margin-top: 10px;
  }

  .device-screen {
      height: 503px;
      width: 285px;
      border: 1px solid lightgray;
      border-radius: 3px;
      margin-top: 56px;
      /*overflow: scroll;*/

  }

  .content {
    padding: 10px;
  }
}

/*Fullscreen mockup to view on phones*/

@media (max-width: 600px) {

  .browser-screen {
    background: white;
  }

  .device-screen {
    width: 100%;
    height: 100vh;
    margin-top: 0;
  }

  .content {
    padding: 10px;
  }

  h1 {
    font-size: 100px;
    font-family: 'Allerta', sans-serif;
  }

}


/*----------------------*/
/*UI Content*/

a {
    /*color: blue;*/
    text-decoration: none;
    /*font-size: 6px;*/
}

img {
  width: 100%;
  height: auto;
  padding-bottom: 5px;
}

.top-bar {
  background: #ffffff;
  border-bottom: 2px solid #eeeeee;
  padding: 10px 15px 5px 0;
}

.logo {
  width: 100px;
  height: 33px;
  margin-left: 5px;
}

.lower-bar {
  background: #ffffff;
  border-top: 2px solid #eeeeee;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

h1 {
  margin-bottom: 40px;
  margin-top: 20px;
  color: #433C96;
  font-size: 28px;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

.main-cup {
  width: 50%;
  max-width: 180px;
  margin: auto;
  padding-top: 15px;
}

.nav-icon {
  margin: 5px 5px -5px 5px;
}

a > p {
  font-size: 10px;
  color: #433c96;
  text-align: center;
}

.nav-icon > a > img {
  max-width: 20px;
  text-align: center;
  margin: 0 20px 0 20px;
}


/*Self Care page*/


.button, button {
  display: block;
  border: none;
  border-radius: 5px;
  padding: 7px 10px 7px 10px;
  width: 200px;
  height: 40px;
  box-shadow: none;
  margin: auto;
  margin-top: 8px;
  text-align: center;
}

.button:hover {
  color: white;
}

.self-care-buttons {
  margin-top: 40px;
  margin-bottom: 10px;
}

.time-options {
  width: 100%;
  margin-top: 20px;
}

.time-option, .time-option-middle, .time-option-active {
  display: inline;
  width: 30%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 20px;
  padding: 5px;
}

.time-option-active {
  background-color: #f3f4fb;
}

.time-option-middle {
  border-left: 2px solid white;
  border-right: 2px solid white;
}



/*Colors */

.medium-purple {
  color: #ffffff;
  background-color: #8f82cf;
}

.dark-purple {
  color: #ffffff;
  background-color: #433c96;
}

.turqoise {
  color: #ffffff;
  background-color: #4aa9bf;
}

.blue {
  color: #ffffff;
  background-color: #3067ba;
}

.alternative-button {
  color: #4aa9bf;
  background-color: white;
  border: 3px solid #4aa9bf;

  border-radius: 0px;
}

.alternative-button:hover {
  color: #4aa9bf;
}

/*Connect page*/

h2, h3 {
  color: #433c96;
  font-size: 20px;
  text-align: center;
}

.description {
  font-size: 11px;
  text-align: justify;
}

.profile-pic {
  border: 5px solid white;
  border-radius: 100px;
  width: 150px;
  margin: 10px 50px 20px 50px;
}

/*Progress page and Meditate page*/

 .scroll {
   height: 430px;
   overflow: scroll;
 }

 .number-of-days {
   color: #8f82cf;
   font-size: 50px;
   background-color: white;
   border-radius: 50px;
   text-align: center;
   width: 100px;
   height: 100px;
   margin: auto;
   padding: 10px 20px 10px 20px;
 }

 hr {
   border: 1px solid white;
   color: white;
 }

 .journal-box {
   border-radius: 5px;
   background-color: #4aa9bf;
   width: 100%;
   padding: 20px 5px 5px 5px;
 }

 .journal-entry {
   background-color: #ffffff;
   padding: 10px 10px 0 10px;
   border-bottom: 2px solid #eeeeee;
 }

 /*Welcome*/

 .gradient-wave {
   background-image: url(../images/gradient-wave.png)
 }

 .brand-title {
   color: #4aa9bf;
   text-transform: uppercase;
   font-size: 20px;
   text-align: center;
   margin-top: 80px;
   margin-bottom: 10px;
   font-family: 'Allerta', sans-serif;
 }

 .white-background {
   background: white;
 }

.welcome-text, .welcome-text-small, .shout-out, .shout-out-alt {
  text-align: center;
  text-decoration: none;
  color: #3067ba;
}

.welcome-text-small {
  font-size: 16px;
}

.shout-out {
  font-size: 23px;
  padding-top: 15px;
}

.shout-out-alt {
  color: white;
  font-size: 23px;
  height: 240px;
  padding: 150px 0 10px 0;
}

.instructions {
  text-transform: uppercase;
  text-decoration: none;
  color: #4aa9bf;
  font-size: 12px;

  position: absolute;
  bottom: 0;
  /*display: block;*/
  text-align: center;
  /*width: 100%;*/
  margin: 0 40px 5px 40px;
}

.alt {
  color: white;
}

.main-cup-small {
  width: 30%;
  height: auto;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

.half-gradient-background {
  background-image: url(../images/half-gradient.png);
  background-size: cover;
}

.intro-background {
  background-image: url(../images/intro-gradient.png);
  background-size: cover;
}

.intro-header {
  margin: 10px 0 15px 0;
}

.icon-intro {
  width: 50%;
  margin: 90px 60px 20px 60px;
}

.progress-circles-group {
  display: block;
  margin: 0 95px 0 95px;
}

.progress-circles {
  width: 100px;
  /*display: flex;
  justify-content: space-between;*/
  /*margin: 0 80px 0 80px;*/
}

.progress-circles img {
  width: 15px;
  height: auto;
  display: inline;
  margin: 3px;
}

/*Meditate page*/

 .play-button {
   padding: 100px 0 80px 0;
   width: 130px;
   margin: auto;
 }


 .progress-bar {
   border: 1px solid #8f82df;
   background-color: white;
   height: 10px;
   width: 250px;
   margin: auto;
 }

 @keyframes FillFromLeft {
   0% {
     width: 10px;
   }
   100% {
     width: 250px;
   }
 }

 .progress {
   border-radius: 0px;
   background-color: #a2c2f2;
   height: 100%;
   animation: 16s ease-out FillFromLeft;
 }

/*Journal page*/

textarea {
  border: none;
  width: 100%;
  color: #444;
}

textarea:focus {
  border: none;
}

.display-date {
  /*padding: 3px;*/
  border: 3px solid #8f82cf;
  border-top: 5px solid #8f82cf;
  background-color: white;
  width: 65px;
  margin-bottom: 10px;
  color: #8f82cf;
  text-align: center;
  font-size: 12px;
}
